<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="dataprocessor" switchValue="All">
                <listeners>
                    <add name="Console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false" />
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
</configuration>
